requests==2.14.2
cx_Oracle==6.1
pytz==2016.10
psutil==5.2.2
ipaddress==1.0.18
mock
python-dateutil==2.6.1
enum34==1.1.6
git+https://gogs.data.gov.bc.ca/daops/DataBCPyLib.git@v2.1.10#egg=PMP&subdirectory=PMP
git+https://gogs.data.gov.bc.ca/daops/DataBCPyLib.git@v2.1.10#egg=Misc&subdirectory=Misc
git+https://gogs.data.gov.bc.ca/daops/DataBCPyLib.git@v2.1.10#egg=DB&subdirectory=DB
git+https://gogs.data.gov.bc.ca/daops/DataBCPyLib.git@v2.1.10#egg=BCDCUtil&subdirectory=BCDCUtil
git+https://gogs.data.gov.bc.ca/daops/DataBCPyLib.git@v2.1.10#egg=Secrets&subdirectory=Secrets
git+https://gogs.data.gov.bc.ca/daops/DataBCPyLib.git@v2.1.10#egg=FMEUtil&subdirectory=FMEUtil
