requests
cx_Oracle
pytz
git+https://gogs.data.gov.bc.ca/daops/DataBCPyLib.git@packagedVersion#egg=PMP&subdirectory=PMP
git+https://gogs.data.gov.bc.ca/daops/DataBCPyLib.git@packagedVersion#egg=Misc&subdirectory=Misc
git+https://gogs.data.gov.bc.ca/daops/DataBCPyLib.git@packagedVersion#egg=DB&subdirectory=DB
git+https://gogs.data.gov.bc.ca/daops/DataBCPyLib.git@packagedVersion#egg=BCDCUtil&subdirectory=BCDCUtil



