# -------- LOG DECLARATIONS --------
[loggers]
keys=root,
     deployment,
     deploymentlib,
     constants, 
     secrets,
     pmp

[handlers]
keys=consoleHandler, fileRollerHander

[formatters]
keys=consoleFormatter

# -------- LOG DEFS --------
[logger_root]
level=DEBUG
handlers=consoleHandler, fileRollerHander

[logger_deployment]
level = DEBUG
handlers=consoleHandler, fileRollerHander
qualname=FrameworkDeployment.DeployFramework
propagate=0

[logger_deploymentlib]
level = DEBUG
handlers=consoleHandler, fileRollerHander
qualname=FrameworkDeployment.DeployFrameworkLib
propagate=0


[logger_constants]
level = DEBUG
handlers=consoleHandler, fileRollerHander
qualname=FrameworkDeployment.DeployConstants
propagate=0

[logger_secrets]
level = INFO
handlers=consoleHandler, fileRollerHander
qualname=Secrets.GetSecrets
propagate=0

[logger_pmp]
level = INFO
handlers=consoleHandler, fileRollerHander
qualname=PMP.PMPRestConnect
propagate=0

# -------- HANDLER DEFS --------
[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)

[handler_fileRollerHander]
class=logging.handlers.RotatingFileHandler
formatter=consoleFormatter
#args=('%(logfilename)s', 'maxBytes=200000', 'backupCount=5')
args=('%(logfilename)s','a',5000000,5)

# -------- FORMATTER DEFS --------
[formatter_consoleFormatter]
format=%(asctime)s-%(lineno)s-%(module)s.%(funcName)s:-%(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S

