[loggers]
keys=root,
	 DataBCFMWTemplate,
	 Shutdown,
	 FileChangeDetector,
	 ChangeDetectLib,
	 DbLib,
	 PMPLib, 
	 DataBCFMWTemplateTesterLib,
	 SSHTunnelling,
	 CustomStartupShutdown, 
	 FMWExecutionOrderDependencies, 
	 Notifications, 
	 BCDCRestQuery, 
	 DataBCDbMethods, 
	 FFSReader, 
	 InstallPaths,
	 pyKirkFieldMapper, 
	 KIRKParams,
	 PyKirk

[handlers]
keys=consoleHandler, FMELogHandler, FMEShutDownHandler, ScriptedParameters
#keys=consoleHandler,FMELogHandler, FMEShutDownHandler  

[formatters]
keys=consoleFormatter,fmeFormatter, fmeShutdownFormatter

# -------- LOG DEFS --------

[logger_root]
level=DEBUG
#handlers=consoleHandler, FMELogHandler, ScriptedParameters
handlers=FMELogHandler, ScriptedParameters, consoleHandler

[logger_FMWExecutionOrderDependencies]
level = INFO
handlers=FMELogHandler, ScriptedParameters
qualname=FMWExecutionOrderDependencies
propagate=0

[logger_DataBCDbMethods]
level = INFO
handlers=FMELogHandler, ScriptedParameters
qualname=DataBCDbMethods
propagate=0

[logger_Notifications]
level = INFO
handlers=FMELogHandler, ScriptedParameters
qualname=DataBCEmailer
propagate=0

[logger_FFSReader]
level = DEBUG
handlers=FMELogHandler, ScriptedParameters, consoleHandler
qualname=FFSReader
propagate=0

[logger_InstallPaths]
level = DEBUG
handlers=FMELogHandler, ScriptedParameters, consoleHandler
qualname=InstallPaths
propagate=0

[logger_DataBCFMWTemplateTesterLib]
level = DEBUG
handlers=consoleHandler, FMELogHandler
qualname=DataBCFMWTemplateTesterLib
propagate=0

[logger_CustomStartupShutdown]
level = INFO
handlers=consoleHandler, FMELogHandler, ScriptedParameters
qualname=ExtendedStartup
propagate=0

[logger_SSHTunnelling]
level = INFO
handlers=consoleHandler, FMELogHandler, ScriptedParameters
qualname=SSHTunnelling
propagate=0

[logger_DataBCFMWTemplate]
level = INFO
#handlers= consoleHandler, FMELogHandler, ScriptedParameters
handlers= FMELogHandler, ScriptedParameters
qualname=DataBCFMWTemplate
propagate=0

[logger_Shutdown]
level = DEBUG
handlers=FMELogHandler, ScriptedParameters
qualname=DataBCFMWTemplate.shutdown
propagate=0

[logger_FileChangeDetector]
level = INFO
#handlers= consoleHandler, FMELogHandler
handlers=FMELogHandler
qualname=FileChangeDetectorV2
propagate=0

[logger_ChangeDetectLib]
level = INFO
handlers=FMELogHandler
qualname=ChangeDetectLib
propagate=0

[logger_FileChangeDetectorLib2]
level = INFO
handlers=FMELogHandler
qualname=ChangeDetectLib2
propagate=0 

[logger_DbLib]
level = INFO
handlers = FMELogHandler, ScriptedParameters
qualname = DB.DbLib
propagate = 0

[logger_BCDCRestQuery]
level = INFO
handlers = FMELogHandler, ScriptedParameters
qualname = BCDCUtil.BCDCRestQuery
propagate = 0

[logger_PMPLib]
level = INFO
handlers = FMELogHandler, ScriptedParameters
qualname = PMP.PMPRestConnect
propagate = 0

[logger_pyKirkFieldMapper]
level = DEBUG
handlers = FMELogHandler, ScriptedParameters
qualname = pyKirkFieldMapper
propagate = 0

[logger_KIRKParams]
level = DEBUG
handlers = FMELogHandler, ScriptedParameters
qualname = KIRKParams
propagate = 0

[logger_PyKirk]
level = DEBUG
handlers = FMELogHandler, ScriptedParameters
qualname = KirkUtil.PyKirk
propagate = 0


# -------- HANDLER DEFS --------

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)

[handler_FMELogHandler]
class=FMELogger.FMELogHandler
formatter=fmeFormatter
args=(sys.stdout,)

[handler_FMEShutDownHandler]
class=FMELogger.FMEShutdownLogger
formatter=fmeShutdownFormatter
args=(sys.stdout,)

[handler_ScriptedParameters]
class=handlers.RotatingFileHandler
formatter=consoleFormatter
args=('%(logfilename)s', 'a', 1000000, 2)

# -------- FORMATTER DEFS --------
[formatter_consoleFormatter]
format=%(asctime)s-%(lineno)s-%(module)s.%(funcName)s:-%(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S

[formatter_fmeFormatter]
format=%(levelname)s-%(module)s.%(funcName)s-%(lineno)d: %(message)s
datefmt=%Y-%m-%d %H:%M:%S

[formatter_fmeShutdownFormatter]
format=%(asctime)s|   ?.?|  0.0|PYTHON SHUTDOWN| %(levelname)s: %(message)s
datefmt=%Y-%m-%d %H:%M:%S
