# This file contains parameters that are used by all
# FME files that implement the 2015 FME template.
#
# -------------------------------------------------------------------
# development_credentials_file - This file will be found in the 
#                 the "config" directory.  It is used when a 
#                 fmw is being developed.  It will include 
#                 the database parameters required for the 
#                 script to run.  Once the fmw is deployed
#                 to DataBC's infrastructure this file will 
#                 be ignored as credentials will be retrieved
#                 from pmp 
#
# gov_computers - a list of computers that have access to PMP.  
#                if the script is run on one of these machines
#			     it will retrieve passwords from pmp.
#                if run on another computer not in this list
#                it will try retrieve passwords from a 
#                json file. 
#
# -------------------------------------------------------------------

[global]
rootscriptdir  : \\data.bcgov\work\scripts\python\DataBCFmeTemplate2
outputsbasedir : ./outputs
gov_computers  : arneb, matar
development_credentials_file : dbCreds.json
configdirname : config

# ------------------------------
# this section defines the key that will be used to refer
# to different destination database envrionments.  The 
# key parameter is the authoritative key, the comman 
# separated values will be transposed to the authoritative
# key.
# sections will follow that are named after the authoritative
# key.
#-----------------------------
[dest_param_keywords]
dlv : delivery, deliv, del, bcgwdlv, bcgwdlv1, bcgwdlvr1, bcgwdlvr, dlvr, dlv
test: test, tst, bcgwtst, bcgwtest, bcgwtest1, idwtest1, idwtest
prod: idwprod1, idwprod1, idwprd1, idwprod, idwprd, prod, production, prd, prdct
dev : development, devel, develop, dev

# delivery key.  MUST align with property in the dest_param_keywords
# section.
[dlv]
server: gis.bcgov
sdeport: 5156
instance: bcgwldv.bcgov
oracleport: 1521
pmpresource: DA-BCGWDLV-WHSE

[test]
server: gis.bcgov
sdeport: 5152
instance: idwtest1.bcgov
oracleport: 1521
pmpresource: DA-IDWTEST1-WHSE

[prod]
server: bcgw.bcgov
sdeport: 5153
instance: idwprod1.bcgov
oracleport: 1521
pmpresource: DA-IDWPROD1-WHSE

# When developing fill this in
# with parameters used for development
# environment, by default points to 
# databc Delivery
[dev]
server: gis.bcgov
sdeport: 5156
instance: bcgwdlv.bcgov
oracleport: 1521
pmpresource: DA-BCGWDLV-WHSE

[pmptokens]
matar: 0BA2313A-D615-4A15-BA56-7D26AE361B3E
arneb: not_defined
fenite: 8CC0676F-D0EB-453E-94A7-F01B394A673B

[pmp_server_params]
baseurl : pmp.apps.bcgov
restdir : /restapi/json/v1/

# -----------------------------------------------------
# sourceresource - These are the pmp resources that will 
#                  be searched for the user / password
# -----------------------------------------------------
[pmp_source_info]
sourceresource : ETL_OPERATIONAL_DBLINKS


