# This file contains parameters that are used by all
# FME files that implement the 2015 FME template.
#
# -------------------------------------------------------------------
# development_credentials_file - This file will be found in the 
#                 the "config" directory.  It is used when a 
#                 fmw is being developed.  It will include 
#                 the database parameters required for the 
#                 script to run.  Once the fmw is deployed
#                 to DataBC's infrastructure this file will 
#                 be ignored as credentials will be retrieved
#                 from pmp 
#
# gov_computers - a list of computers that have access to PMP.  
#                if the script is run on one of these machines
#			     it will retrieve passwords from pmp.
#                if run on another computer not in this list
#                it will try retrieve passwords from a 
#                json file. 
#
# -------------------------------------------------------------------

[global]
rootscriptdir  		: <directory where you installed the template>
customizescriptdir 	: <directory where you installed the template>\scriptSpecific
changelogsdir		: changelogs
changelogsfilename 	: FileChangeLog.txt
applogconfigfilename : templateLogging.config
outputsbasedir 		: ./outputs
gov_computers  		: arneb, matar, fenite
development_credentials_file : dbCreds.json
configdirname 		: config
sdeConnectionDir	: sdeConnections
failedFeaturesDir   : failed
failedFeaturesFile  : failed_features.csv

# ------------------------------
# this section defines the key that will be used to refer
# to different destination database envrionments.  The 
# key parameter is the authoritative key, the comman 
# separated values will be transposed to the authoritative
# key.
# sections will follow that are named after the authoritative
# key.
#-----------------------------
[dest_param_keywords]
dlv : delivery, deliv, del, bcgwdlv, bcgwdlv1, bcgwdlvr1, bcgwdlvr, dlvr, dlv
dev : development, dev, devel, develop

# delivery key.  MUST align with property in the dest_param_keywords
# section.
# instance_aliases = other names that can be used to refer to this instance
# comma separated list, used to determin 
[dlv]
server: gis.bcgov
sdeport: 5156
instance: bcgwdlv.bcgov
instance_aliases: bcgwdlv.bcgov
oracleport: 1521
pmpresource: DA-BCGWDLV-WHSE

# When developing against a non government computer
# you can add information about that database connection
# here, then to use these parameters for the template
# run the script using the "keyword" DEV
# default config is for our delivery environment
[dev]
server: gis.bcgov
sdeport: 5156
instance: bcgwdlv.bcgov
instance_aliases: 
oracleport: 1521
pmpresource: DA-BCGWDLV-WHSE

# This is for internally run scripts.  Won't work 
# when run external to government.
[pmptokens]
computerName : pmpToken

[pmp_server_params]
baseurl : <pmp url goes>
restdir : <directory for rest end point>

# -----------------------------------------------------
# sourceresource - These are the pmp resources that will 
#                  be searched for the user / password
# -----------------------------------------------------
[pmp_source_info]
sourceresource : <pmp resource to use>

# -----------------------------------------------------
# DWM is an app that displays and queries the oracle table
# APP_UTILITY.FME_STATUS_LOG.  Prior version of the template
# write to this table via a transformer.  Thinking now 
# that that level of overhead is unnecessary.  Going to 
# have it write directly.
#  
# the writer is going to go to pmp to get the password, 
# then create a db connection.  It will first try to 
# create that connection using <db_instance>. In case
# that fails will try to create a connection using a 
# on the fly DSN, constructed form server, port, using 
# db_instance as the service name.
# -----------------------------------------------------
[dwm_config]
db_user = <dwm user>
dwmtable = <dwm_table>

